/* Existing dashboard styles */
body {
    background-color: #111111;
    font-family: "Montserrat", "Helvetica", "Open Sans", "Arial";
}

.navbar {
    background-color: #5d0000;
    color: white;
}

.sidebar {
    background-color: #11082d;
    padding-top: 20px;
}

.sidebar .nav-link {
    color: #738297;
    margin-bottom: 10px;
}

.sidebar .nav-link:hover, .sidebar .nav-link.active {
    color: white;
}

.card {
    background-color: #333333 !important; /* Change this color to your preference */
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 20px;
}

h1 {
    color: white;
    margin: 20px 0;
}

/* Styles for login, register, reset-password pages */
.auth-body {
    background-color: #111;
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
}

.auth-container {
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
    box-sizing: border-box;
}

.auth-card {
    width: 100%;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.auth-h2 {
    text-align: center;
    color: #fff;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-input {
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #222;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #fff;
}

.auth-input::placeholder {
    color: #888;
}

.auth-input:focus {
    border-color: #3498db;
}

.auth-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.auth-button:hover {
    background-color: #2980b9;
}
.auth-link {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    margin-top: 12px;
    display: inline-block;
}

.auth-link:hover {
    text-decoration: underline;
}
